body {
  min-height: 100vh;
  background-color: #9c835f;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 50px;
}

/* Section 1 / Title */
.main-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 30px;
}

.back {
  color: #724c21;
  font-size: 72px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.title-game {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  color: #f9b23d;
}

/* Main Component */

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h2 {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.section-1 .back,
.player-1 div,
.computer div,
.reset-button img {
  cursor: pointer;
}

.rock,
.paper,
.scissor {
  width: 220px;
  height: 200px;
  background-color: #9c835f;
  border-radius: 30px;
  margin: 10px;
  text-align: center;
}

.rock img {
  margin: 50px;
  width: 120px;
  height: 90px;
}

.paper img {
  margin: 20px;
  width: 115px;
  height: 150px;
}

.scissor img {
  margin: 15px;
  width: 134px;
  height: 160px;
}

.rock img:hover,
.paper img:hover,
.scissor img:hover {
  transform: rotate(5deg);
}

.versus {
  font-family: 'Open Sans', sans-serif;
  font-size: 8em;
  font-weight: 700;
  color: #bd0000;
}

.computer img {
  margin: 15px;
}

.com-rock img {
  margin: 50px;
}

.computer h2 {
  margin: auto;
  text-align: center;
}

/* Reset */
.reset-button {
  display: flex;
  justify-content: center;
}

.reset-button img {
  width: 6.5rem;
  height: 6.5rem;
  transition: all 500ms;
}

.reset-button img:hover {
  transform: rotate(360deg);
}
